<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escala de Serviço</title>
</head>
<body>
    <h1>Escala de Serviço</h1>
    <h2>Militares</h2>
    <ul>
        {% for militar in militares %}
            <li><a href="{% url 'militar_detail' militar.pk %}">{{ militar.nome }} - {{ militar.posto }}</a></li>
        {% endfor %}
    </ul>

    <h2>Previsão da Escala</h2>
    <ul>
        {% for dia, tipo, militar, funcao in previsao %}
            <li>{{ dia }} - {{ tipo }} - {{ militar.nome }} - {{ funcao }}</li>
        {% endfor %}
    </ul>

    <h2>Militar mais folgado (Escala Preta)</h2>
    <p>{{ militar_mais_folgado_preta.nome }} - {{ militar_mais_folgado_preta.posto }}</p>

    <h2>Militar mais folgado (Escala Vermelha)</h2>
    <p>{{ militar_mais_folgado_vermelha.nome }} - {{ militar_mais_folgado_vermelha.posto }}</p>
</body>
</html>
