<!DOCTYPE html>
<html>
<head>
    <title>Previsão de Serviço</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 5px;
            text-align: center;
        }
        .nao-util {
            background-color: red;
        }
        .util {
            background-color: white;
        }
    </style>
</head>
<body>
    <h1>Previsão de Serviço</h1>
    <table>
        <thead>
            <tr>
                <th>Nome / Data</th>
                {% for dia in dias_mes %}
                    <th>{{ dia|date:"d/m" }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for linha in calendario %}
                <tr>
                    <td>{{ linha.militar }}</td>
                    {% for dia in linha.dias %}
                        <td class="{% if dia.tipo_dia == 'não útil' %}nao-util{% else %}util{% endif %}">
                            {{ dia.folga }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
